{% extends 'base.html' %}
{% load static %}

{% block body %}

<header>
  <link rel="stylesheet" href="home.css">
</header>

<!--
{% if products %}

{% for i in products %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ p.product_image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ p.name}}</h5>
      <p class="card-text">{{p.price}}</p>
      <a href="#" class="btn btn-primary">Add To Card</a>
    </div>
  </div>


{% endfor %}
<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

{% endif %}
-->
<style>
  .container {
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
</style>


<div class="main">
  <div class="cursor"></div>
  <div class="cursor-scale">


    <div class="" style="background-color: #E3EDF6; height: 500px;">
      <div class="container grid md:grid-cols-2 py-8">
        <div class="flex items-center">
          <div class="text-xl">
            <p class="display-5 pt-5" style="text-align: left;font-family:cursive;">Starting at <span class="font-bold">
                4999 </span></p>
            <h1 class="display-1 font-bold mayur" style="font-weight: 50px;"> <b>The best Digitally <br>collection
                2023</b></h1>
            <h3 class="text-2xl " style="font-family:cursive;">Exclusive offer <span class="text-red-600">-10%</span>
              off
              this
              week</h3>
            <button type="button" class="btn btn-light py-2 px-5 mt-5"> SHOP NOW </button>
          </div>
        </div>
      </div>
    </div>
  </div>








  <div class="container py-5 bg-gray-100 text-dark  gap-5 mb-5" style="display: flex; border-radius: 15px;">
    <div class="flex gap-2 bg-gray-100 px-4 py-6 mx-5 border shadow-lg" style="border-radius:15px ;"><svg
        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
        stroke-linejoin="round" class="text-4xl" height="3em" width="3em" xmlns="http://www.w3.org/2000/svg">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
        <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
        <path d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5"></path>
        <path d="M3 9l4 0"></path>
      </svg>
      <div>
        <h2 class="font-medium text-xl">Free Delivery</h2>

      </div>
    </div>
    <div class="flex gap-2 bg-gray-100 px-4 py-6 border shadow-lg" style="border-radius: 15px;"><svg
        stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-4xl" height="3em"
        width="3em" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.0049 2C17.5277 2 22.0049 6.47715 22.0049 12C22.0049 17.5228 17.5277 22 12.0049 22C9.57847 22 7.3539 21.1358 5.62216 19.6985L5.37815 19.4892L6.27949 17.5875C7.73229 19.0759 9.76067 20 12.0049 20C16.4232 20 20.0049 16.4183 20.0049 12C20.0049 7.58172 16.4232 4 12.0049 4C7.66997 4 4.14034 7.44784 4.00869 11.7508L4.00488 12H6.50488L3.79854 17.7161C2.66796 16.096 2.00488 14.1254 2.00488 12C2.00488 6.47715 6.48204 2 12.0049 2ZM13.0049 6V8H15.5049V10H10.0049C9.72874 10 9.50488 10.2239 9.50488 10.5C9.50488 10.7455 9.68176 10.9496 9.91501 10.9919L10.0049 11H14.0049C15.3856 11 16.5049 12.1193 16.5049 13.5C16.5049 14.8807 15.3856 16 14.0049 16H13.0049V18H11.0049V16H8.50488V14H14.0049C14.281 14 14.5049 13.7761 14.5049 13.5C14.5049 13.2545 14.328 13.0504 14.0948 13.0081L14.0049 13H10.0049C8.62417 13 7.50488 11.8807 7.50488 10.5C7.50488 9.11929 8.62417 8 10.0049 8H11.0049V6H13.0049Z">
        </path>
      </svg>
      <div>
        <h2 class="font-medium text-xl">Return &amp; Refund</h2>

      </div>
    </div>
    <div class="flex gap-2 bg-gray-100 px-4 py-6 border shadow-lg" style="border-radius: 15px;"><svg
        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
        stroke-linejoin="round" class="text-4xl" height="3em" width="3em" xmlns="http://www.w3.org/2000/svg">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 15l6 -6"></path>
        <circle cx="9.5" cy="9.5" r=".5" fill="currentColor"></circle>
        <circle cx="14.5" cy="14.5" r=".5" fill="currentColor"></circle>
        <path
          d="M5 7.2a2.2 2.2 0 0 1 2.2 -2.2h1a2.2 2.2 0 0 0 1.55 -.64l.7 -.7a2.2 2.2 0 0 1 3.12 0l.7 .7a2.2 2.2 0 0 0 1.55 .64h1a2.2 2.2 0 0 1 2.2 2.2v1a2.2 2.2 0 0 0 .64 1.55l.7 .7a2.2 2.2 0 0 1 0 3.12l-.7 .7a2.2 2.2 0 0 0 -.64 1.55v1a2.2 2.2 0 0 1 -2.2 2.2h-1a2.2 2.2 0 0 0 -1.55 .64l-.7 .7a2.2 2.2 0 0 1 -3.12 0l-.7 -.7a2.2 2.2 0 0 0 -1.55 -.64h-1a2.2 2.2 0 0 1 -2.2 -2.2v-1a2.2 2.2 0 0 0 -.64 -1.55l-.7 -.7a2.2 2.2 0 0 1 0 -3.12l.7 -.7a2.2 2.2 0 0 0 .64 -1.55v-1">
        </path>
      </svg>
      <div>
        <h2 class="font-medium text-xl">Member Discount</h2>

      </div>
    </div>
    <div class="flex gap-2 bg-gray-100 px-4 py-6 border shadow-lg" style="border-radius: 15px;"><svg
        stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-4xl" height="3em"
        width="3em" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path
          d="M21 12.22C21 6.73 16.74 3 12 3c-4.69 0-9 3.65-9 9.28-.6.34-1 .98-1 1.72v2c0 1.1.9 2 2 2h1v-6.1c0-3.87 3.13-7 7-7s7 3.13 7 7V19h-8v2h8c1.1 0 2-.9 2-2v-1.22c.59-.31 1-.92 1-1.64v-2.3c0-.7-.41-1.31-1-1.62z">
        </path>
        <circle cx="9" cy="13" r="1"></circle>
        <circle cx="15" cy="13" r="1"></circle>
        <path
          d="M18 11.03A6.04 6.04 0 0012.05 6c-3.03 0-6.29 2.51-6.03 6.45a8.075 8.075 0 004.86-5.89c1.31 2.63 4 4.44 7.12 4.47z">
        </path>
      </svg>
      <div>
        <h2 class="font-medium text-xl">Support 24/7</h2>

      </div>
    </div>
  </div>




  <h1 class="mx-5" style="font-family:cursive;"> <b>Trending Shopping </b></h1>

  <div class="col-9 mx-auto mt-5">
    {% if messages %}
    {{message.tags}}
    <div class="alert alert-primary " role="alert" style="border-radius: 30px; text-align: center; ">
      {% for message in messages %}
      <b>
        {{ message }}
      </b>
      {% endfor %}
    </div>
    {% endif %}


    <div class="row">
      {% if products %}
      {% for i in products %}
      <div class="col-sm-3">

        <div class="card my-4 border border-0 shadow-lg p-3 mb-5" style="border-radius: 25px;">
          <img src="/static/{{i.product_image}}" class="card-img-top" alt="" width="300" height="250">
          <div class="card-body border-info">
            <h4 class="card-title">{{i.name}}</h4>

            <h5 class="text-primary-emphasis"><i class="bi bi-currency-rupee"></i>{{i.price}}</h5>
            <a href="{% url 'add-to-cart' i.id  %}" class="btn btn-primary mt-3">Add To Card</a>

          </div>

        </div>



      </div>
      {% endfor %}
      {% endif %}



    </div>
  </div>

</div>









{% endblock body %}